  
.App {
  margin: 2rem;
  text-align: center;
}

h1 {
  color: #07F;
}

.file-exists {
  text-align: left;
  color: red;
}

.drag-drop-zone {
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 3px dashed #f1f1f1;
  /* box-shadow: 5px 5px 10px #C0C0C0; */
}

.drag-drop-zone p {
  color: #111;
}

.drag-drop-zone.inside-drag-area {
  border: 3px dashed #111;
  box-shadow: 5px 5px 10px #C0C0C0;
}

.dropped-files li {
  color: #07F;
  padding: 3px;
  text-align: left;
  font-weight: bold;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  margin-top: 10px;
}